* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tilt Prism", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 201, 201);
}

#day-counter {
    color: #00085c;
    font-size: 3rem;
}